@model HospitalManagement.Models.ViewModels.MedicalRecordViewModel

@{
    ViewData["Title"] = "Chi tiết hồ sơ bệnh án";
}

<h1>Chi tiết hồ sơ bệnh án</h1>

<div>
    <h4>Thông tin hồ sơ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Treatment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>