@model HospitalManagement.Models.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Chi tiết lịch hẹn";
}

<h1>Chi tiết lịch hẹn</h1>

<div>
    <h4>Thông tin lịch hẹn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>