@model HospitalManagement.Models.ViewModels.PatientDetailsViewModel

@{
    ViewData["Title"] = "Chi tiết bệnh nhân";
}

<h1>Chi tiết bệnh nhân</h1>

<div>
    <h4>Thông tin bệnh nhân </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.EmergencyContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.EmergencyContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.BloodGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.BloodGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.HasInsurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.HasInsurance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.InsuranceProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.InsuranceProvider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.InsurancePolicyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.InsurancePolicyNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>